<div class="row justify-content-center">
  <h2>Set Password to Confirm Account</h2>
</div>

<div class="row justify-content-center">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :password, :input_html => {:autofocus => true} %>
      <%= f.input :password_confirmation %>
      <%= form.input :confirmation_token, :as => :hidden, :input_html => { :value => @original_token } %>
    </div>

    <div style="margin-top: 3px; margin-bottom: 15px;">
      <%= render "devise/shared/links" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Confirm Account", class:"btn btn-lg btn-primary btn-block"  %>
    </div>
  <% end %>
</div>