<div class="container" style="margin-bottom: 30px">
  <p id="notice"><%= notice %></p>

  <h1><%= @body.name %></h1>

  <h5> Latitude: </h5>
  <p>  <%= @body.latitude %> </p>

  <h5> Longitude:</h5>
  <p>  <%= @body.longitude %> </p>

  <h5> Description: </h5>
  <p> <%= @body.description %></p> 

  <h5> Fish populations found here: </h5>
  <% if (@body.populations.count > 0) %>
    <% @body.populations.sort_by {|p| p.fish.name}.each do |population| %>
      <p> <%= link_to population.fish.name, fish_path(population.fish) %>: <%= population.amount %></p>
    <% end %>
  <% else %>
    <p> None found </p>
  <% end %>

  <a class = 'btn btn-secondary btn-sm mr-1' href="<%=edit_body_path(@body)%>" role=“button”> Edit </a>
  <a class = 'btn btn-secondary btn-sm mr-1' href="<%=bodies_path%>" role=“button”> Back to List </a>
</div>