<%= simple_form_for(@fish, html: { class: "form-group" }) do |f| %>
  <%= f.input :name, class: "form-control"%>
  <%= f.input :description, as: :text, class: "form-control" %>
  <label> Populations</label>
  <table class="table ">
    <thead>
      <tr>
        <th>Body of water</th>
        <th>Population</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <%= f.simple_fields_for :populations do |builder| %>
        <%= render 'population_fields', f: builder %>
      <% end%>
    </tbody>
  </table>

  <div class="form-actions" style="margin-bottom: 25px">
    <%= link_to_add_association 'Add Body of Water', f, :populations %>
  </div>

  <%= f.input :fish_image %>


  <%= f.button :submit, class: "btn btn-primary btn-block"%>
  <div style= "margin-top: 10px">
    <%= link_to 'Cancel', fishes_path %>
  </div>
<% end %>