<div class="container" style="margin-top: 10px">
  <div class="row justify-content-center">
    <h1>Admin List of Fish</h1>
  </div>

  <div class="row justify-content-center">
    <a class = 'btn btn-outline-primary btn-lg' href="<%=new_fish_path%>" role=“button”> Create New Fish </a>
  </div>

  <div style="margin-top: 20px">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Found at</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <% @fishes.each do |fish| %>
        <tr>
          <td width="25%">  <%= link_to fish.name, fish_path(fish)%> </td>
          <td width="40%"> <%= fish.description.truncate(155) %> </td>
          <td> <%= pluralize(fish.populations.size, 'location') %> </td>
          <td>
            <% if fish.fish_image.attached? %>
               <%= image_tag fish.fish_image.variant(resize: "100x100") %> 
            <% end%>   
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>