<div class="container">
  <p id="notice">
    <%= notice %>
  </p>
  <h1> <%= @fish.name %> </h1>

  <h5> Description: </h5>
  <p> <%= @fish.description %> </p>
  <% if @fish.fish_image.attached? %>
    <%= image_tag @fish.fish_image.variant(resize: "400x400") %>
  <% end%>
  <br>

  <h5> Populations: </h5>
  <% if (@fish.populations.count > 0) %>
    <% @fish.populations.each do |population| %>
      <p> <%= link_to population.body.name, body_path(population.body) %>: <%= population.amount %></p>
    <% end %>
  <% else %>
    <p> None found </p>
  <% end %>

  <a class = 'btn btn-secondary btn-sm mr-1' href="<%=edit_fish_path(@fish)%>" role=“button”> Edit </a>
  <a class = 'btn btn-secondary btn-sm mr-1' href="<%=fishes_path%>" role=“button”> Back to List </a>

</div>