<!DOCTYPE html>
<html>
  <head>
    <title>MobileFishApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="row justify-content-center">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if admin_signed_in? %>
      <%= link_to "Log out", destroy_admin_session_path, :method => :delete %>
    <% end %>
  </div>

  <body>
    <%= yield %>
  </body>

</html>
